.body {
  min-height: 2000px;
}

.jumbotron  {
  padding-top: 2rem;
  background-color: #b1ff14;
}

#project {
  background-color: #b1ff14;
}
 
.nav-link:hover {
    cursor: pointer;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
    -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
    -moz-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
    -ms-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
    -o-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;

}
